<h1 id='title'>It's 5'o'clock somewhere</h1>

<ul>
    <li>{{#link-to 'clock' class="btn btn-primary btn-block"}}Clock{{/link-to}}</li>
    <li>{{#link-to 'timezones' class="btn btn-primary btn-block"}}Manage Timezones{{/link-to}}</li>
</ul>

{{outlet}}